@mixin FCenter($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}

// высчитывания px в rem
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin LinkShort($decor, $color) {
  &__link:visited, &__link:active, &__link {
    text-decoration: $decor;
    color: $color;
  }
}

@mixin Link($FSize, $Fweight, $first, $second) {
  &__link:visited, &__link:active, &__link {
    text-decoration: none;
    color: $black;
  }
  &__link  {
    font-size: rem($FSize);
    font-weight: $Fweight;
    border: 1px solid $black;
    border-radius: rem($second);
    padding: rem($first) rem($second);
    transition-duration: .5s;
  }
  &__link:hover {
    color: white;
    background-color: $black;
    box-shadow: 1px 1px 10px $black;
  }
}

@mixin After($height, $color, $px) {
  display: block;
  content: "";
  position: absolute;
  height: $height;
  background-color: $color;
  bottom: rem($px);

  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: width .3s ease-in-out;
}

@mixin Arrows(){
  &__next ,&__prev {
    background-color: transparent;
    padding: rem(5);
    position: relative;
    width: rem(20);
    height: rem(20);
    border: 2px solid $arrow;
    border-radius: rem(20);
    transition-duration: .5s;
  }
  &__next:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: rem(-5);
    border: 10px solid transparent;
    border-left: 15px solid $arrow;
    transition-duration: .5s;
  }
  &__prev:after {
    content: '';
    position: absolute;
    right: 50%;
    margin-right: rem(-5);
    border: 10px solid transparent;
    border-right: 15px solid $arrow;
    transition-duration: .5s;
  }
  &__next:hover:after {
    border: 10px solid transparent;
    border-left: 15px solid $white;
  }
  &__next:hover {
    cursor: pointer;
    border-color: $white;
  }
  &__prev:hover:after {
    border: 10px solid transparent;
    border-right: 15px solid $white;
  }
  &__prev:hover {
    cursor: pointer;
    border-color: $white;
  }
}
